td {
  text-align: left;
}


#flightDetailsTable {
  margin: auto;
}

#findFlightButton {
  margin: 10px;
}

@media (min-width: 770px) {
  .selectedFlightPanel {
    position: fixed;
    bottom: -28px;
    min-width: 320px;
    left: 1%;
    z-index: 1000;
    padding: 20px;
    transform: scale(0.8);
    overflow: hidden;
  }

  .pinnedFlightsPanel {
    position: fixed;
    top: 75px;
    min-width: 320px;
    left: 1%;
    height: 350px;
    z-index: 1000;
    padding: 20px;
    transform: scale(0.8);
    overflow: hidden;
  }

  .countdownPanel {
    visibility: hidden;
  }
}

@media (max-width: 769px) {
  .selectedFlightPanel {
    position: fixed;
    bottom: 0;
    min-width: 320px;
    left: -0%;
    z-index: 1000;
    padding: 20px;
    transform: scale(0.7);
    overflow: hidden;
  }

  .pinnedFlightsPanel {
    position: fixed;
    top: 70px;
    min-width: 320px;
    height: 350px;
    left: 0%;
    z-index: 1000;
    padding: 20px;
    transform: scale(0.7);
    overflow: hidden;
  }
  .countdownPanel {
    visibility: hidden;
  }
}

@media (max-width: 425px) {
  .selectedFlightPanel {
    position: fixed;
    bottom: 0;
    min-width: 320px;
    width: 100%;
    left: -6%;
    z-index: 1000;
    padding: 20px;
    transform: scale(0.6);
    overflow: hidden;
  }

  .pinnedFlightsPanel {
    position: fixed;
    top: 0px;
    min-width: 320px;
    height: 350px;
    width: 100%;
    left: -6%;
    z-index: 1000;
    padding: 20px;
    transform: scale(0.5);
    overflow: hidden;
    visibility: hidden
  }
  .pinIconButton {
    visibility: hidden;
  }

  .countdownPanel {
    visibility: hidden;
  }
}

@media (max-height: 767px) {
  .selectedFlightPanel {
    position: fixed;

    z-index: 1000;
    overflow: hidden;
    transform: scale(0.7);
  }

  .pinnedFlightsPanel {
    position: fixed;
    top: 8%;
    height: 350px;
    z-index: 1000;
    overflow: hidden;
    transform: scale(0.7);
    visibility: hidden;
  }

  .pinIconButton {
    visibility: hidden;
  }

  .countdownPanel {
    visibility: hidden;
  }
}

@media (max-height: 1000) {
  .selectedFlightPanel {
    position: fixed;
    z-index: 1000;
    overflow: hidden;
    transform: scale(0.7);
  }

  .pinnedFlightsPanel {
    position: fixed;
    top: 8%;
    height: 350px;
    z-index: 1000;
    overflow: hidden;
    transform: scale(0.7);
  }

  .countdownPanel {
    visibility: hidden;
  }
}


@media (min-height: 1001px) {
  .selectedFlightPanel {
    bottom: 4%;
    position: fixed;
    z-index: 1000;
    transform: scale(1);
    overflow: hidden;
  }

  .pinnedFlightsPanel {
    position: fixed;
    top: 12%;
    height: 350px;
    z-index: 1000;
    transform: scale(1);
    overflow: hidden;
  }

  .countdownPanel {
    visibility: hidden;
  }
}



