td {
  /* font-size: small; */
  text-align: left;
}

/* h1 {
  font-size: medium;
} */

#flightDetailsTable {
  margin: auto;
}

#findFlightButton {
  margin: 10px;
}

/* .pinnedFlightsPanelPaper {
  border: black solid 1px;
} */


/* .selectedFlightPanel {
  position: fixed;
  bottom: 25px;
  left: 50px;
  z-index: 1000;
  padding: 20px;
  width: 340px;
  overflow: hidden;
} */

/* .countdownPanel {
  position: fixed;
  z-index: 1000;
  text-align: center;
  right: 50px;
  bottom: 50px;
  padding: 10px;
  width: 200px;
}

.pinnedFlightsPanel {
  position: fixed;
  top: 100px;
  left: 50px;
  z-index: 1000;
  padding: 20px;
  width: 340px;
  overflow: hidden;
}


@media (max-width: 850px) {
  .selectedFlightPanel {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    padding: 20px;
    width: 340px;
    transform: scale(0.8);
    overflow: hidden;
  }

  .pinnedFlightsPanel {
    position: fixed;
    top: 100px;
    left: 0px;
    z-index: 1000;
    padding: 20px;
    width: 340px;
    transform: scale(0.8);
    overflow: hidden;
  }

  .countdownPanel {
    visibility: hidden;
  }
}


@media (max-height: 850px) {
  .pinnedFlightsPanel {
    transform: scale(0.6);
    top: 80px;
    left: -60px;
  }

  .selectedFlightPanel {
    transform: scale(0.6);
    bottom: -40px;
    left: -60px;
  }
}

@media (max-height: 550px) {
  .pinnedFlightsPanel {
    transform: scale(0.4);
    top: 60px;
    left: -100px;
  }

  .selectedFlightPanel {
    transform: scale(0.4);
    bottom: -100px;
    left: -100px;
  }
} */

@media (min-width: 770px) {
  .selectedFlightPanel {
    position: fixed;
    bottom: 0px;
    min-width: 320px;
    left: 1%;
    z-index: 1000;
    padding: 20px;
    transform: scale(0.9);
    overflow: hidden;
  }

  .pinnedFlightsPanel {
    position: fixed;
    top: 100px;
    min-width: 320px;
    left: 1%;
    height: 350px;
    z-index: 1000;
    padding: 20px;
    transform: scale(0.9);
    overflow: hidden;
  }

  .countdownPanel {
    visibility: hidden;
  }
}

@media (max-width: 769px) {
  .selectedFlightPanel {
    position: fixed;
    bottom: 0;
    min-width: 320px;
    left: -0%;
    z-index: 1000;
    padding: 20px;
    transform: scale(0.7);
    overflow: hidden;
  }

  .pinnedFlightsPanel {
    position: fixed;
    top: 0;
    min-width: 320px;
    height: 350px;
    left: 0%;
    z-index: 1000;
    padding: 20px;
    transform: scale(0.7);
    overflow: hidden;
  }
  .countdownPanel {
    visibility: hidden;
  }
}

@media (max-width: 425px) {
  .selectedFlightPanel {
    position: fixed;
    bottom: 0;
    min-width: 320px;
    width: 100%;
    left: -6%;
    z-index: 1000;
    padding: 20px;
    transform: scale(0.5);
    overflow: hidden;
  }

  .pinnedFlightsPanel {
    position: fixed;
    top: 0px;
    min-width: 320px;
    height: 350px;
    width: 100%;
    left: -6%;
    z-index: 1000;
    padding: 20px;
    transform: scale(0.5);
    overflow: hidden;
    visibility: hidden
  }

  .countdownPanel {
    visibility: hidden;
  }
}

@media (max-height: 767px) {
  .selectedFlightPanel {
    position: fixed;

    z-index: 1000;
    overflow: hidden;
    transform: scale(0.8);
  }

  .pinnedFlightsPanel {
    position: fixed;
    top: 8%;
    height: 350px;
    z-index: 1000;
    overflow: hidden;
    transform: scale(0.8);
    visibility: hidden;
  }

  .countdownPanel {
    visibility: hidden;
  }
}

@media (min-height: 768px) {
  .selectedFlightPanel {
    position: fixed;
    z-index: 1000;
    overflow: hidden;
    transform: scale(0.8);
  }

  .pinnedFlightsPanel {
    position: fixed;
    top: 8%;
    height: 350px;
    z-index: 1000;
    overflow: hidden;
    transform: scale(0.8);
  }

  .countdownPanel {
    visibility: hidden;
  }
}



